.Navbar_buttons {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;

}
.Header {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: min(1000px, calc(100% - 20px));
    background-color: red;
    border-radius: 10px;
   
}
    

.Logo {
    width: 140px;
    margin-top: 3px ;
}
.Navbar {
    margin-top: 2px; 
    display: flex; 
    flex-direction: row; 
    text-align: center; 
    left: 50%;    
    justify-content: center; 
    position: fixed; 
    top: 55px; 
    z-index: 1000; 
    background-color: red; 
    border-radius: 10px;
    transform: translateX(-50%);
    width: min(750px, calc(100% - 80px));
    
}

p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 8px;
}

.Footer {
    display: flex; 
    flex-direction: row; 
    height: 30px; 
    position: fixed; 
    bottom: 0; 
    z-index: 1000; 
    left: 0; 
    width: 100%;
    background-color: red; 
    justify-content: center;
}  
.Copyright {
    color: white;
    text-align: center;
    width: 1000px;
    padding-bottom: 20px;
    height: 1000px;
    align-items: center;
    margin: 9px;
    font-size: 12px;
}


.Strana {
    padding: 30px;
    box-sizing: border-box;
    margin-top: 100px; 
    width: 1000px;
    display: flex;
    width: min(1000px, calc(100% - 20px));
}


.Sidebar {
    background-color: red;
    color: white;
    border-radius: 10px;
    position: fixed;
    height: 350px;
    width: min(150px, calc(100% - 80px));
    
}


.Recepty {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 18px;
    margin-left: 225px;
}

.Recept {
    background-color: black;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
}

.Obrazokjedla {
    width: 80%;
    display: block;

}

.Popis {
    padding: 10px;
    color: white;
    text-align: bottom;
    font-size: 14px;
}


