.Navbar_buttons {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;

}
.Header {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: min(1000px, calc(100% - 20px));
    background-color: red;
    border-radius: 10px;
   
}
    

.Logo {
    width: 140px;
    margin-top: 3px ;
}
.Navbar {
    margin-top: 2px; 
    display: flex; 
    flex-direction: row; 
    text-align: center; 
    left: 50%;    
    justify-content: center; 
    position: fixed; 
    top: 55px; 
    z-index: 1000; 
    background-color: red; 
    border-radius: 10px;
    transform: translateX(-50%);
    width: min(750px, calc(100% - 80px));
    
}

.Footer {
    display: flex; 
    flex-direction: row; 
    height: 30px; 
    position: fixed; 
    bottom: 0; 
    z-index: 1000; 
    left: 0; 
    width: 100%;
    background-color: red; 
    justify-content: center;
}  
p{
    color: white;
    text-align: center;
    width: 1000px;
    padding-bottom: 20px;
    height: 1000px;
    align-items: center;
    margin: 9px;
    font-size: 12px;
}