.Navbar_buttons {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;

}
.Header {
    margin-top: 5px; 
    display: flex; 
    flex-direction: row; 
    text-align: center; 
    height: 50px; 
    justify-content: center; 
    position: fixed; 
    top: 0px; 
    z-index: 1000; 
    margin-left: 150px;
    background-color: red; 
    width: 600px; 
    border-radius: 10px;
    
    
}
.Logo {
    width: 140px;
    margin-top: 3px ;
}
.Navbar {
    margin-top: 2px; 
    display: flex; 
    flex-direction: row; 
    text-align: center; 
    height: 32px; 
    justify-content: center; 
    position: fixed; 
    top: 55px; 
    z-index: 1000; 
    margin-left: 7px;
    background-color: red; 
    width: 900px; 
    border-radius: 10px;
}
.Footer {
    display: flex; 
    flex-direction: row; 
    height: 30px; 
    position: fixed; 
    bottom: 0; 
    z-index: 1000; 
    left: 0; 
    width: 100%;
    background-color: red; 
}
p{
    color: white;
    text-align: center;
    width: 1000px;
    padding-bottom: 20px;
    height: 1000px;
    align-items: center;
    margin: 11px;
    font-size: 8px;
}

